file '/home/dean/channels/Star Trek '\-' TNG/Season 1/S01E01'\-'02 Encounter at Farpoint.avi'
file '/home/dean/channels/Star Trek '\-' TNG/Season 1/S01E03 The Naked Now.avi'
#file '/home/dean/channels/Star Trek '\-' TNG/Season 1/S01E04 Code of Honor.avi'